@import "tailwindcss";
@tailwind utilities;

@layer base {
    * {
      @apply p-0;
    }
  }
  @font-face {
    font-family: "latoBold";
    src: url("../fonts/Lato/Lato-Bold.ttf") format("opentype");
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "latoRegular";
    src: url("../fonts/Lato/Lato-Regular.ttf") format("opentype");
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "latoThin";
    src: url("../fonts/Lato/Lato-Thin.ttf") format("opentype");
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "GraphikBold";
    src: url("../fonts/graphik/Graphik-Bold-Trial.otf") format("opentype");
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Graphik";
    src: url("../fonts/graphik/Graphik-Regular-Trial.otf") format("opentype");
    font-style: normal;
    font-display: swap;
  }

  @theme {
    --color-primary: #003399;
    --color-secondary-blue: #66cccc;
    --color-primary-red: #ff6666;
    --color-primary-green: #33cc99;
    --color-primary-gray: #EAEAEA;

    --breakpoint-xsee: 600px;
    --breakpoint-xse: 900px;
    --breakpoint-xd: 1100px;
    --breakpoint-md: 1200px;
    --breakpoint-xs: 1400px;

    --font-lato-thin: "latoThin", sans-serif; 
  }
  